@using Microsoft.AspNetCore.Components.Routing
@using Pertamina.SolutionTemplate.Bsui.Layouts
<head>
    <link href="Pertamina.SolutionTemplate.Bsui.styles.css" rel="stylesheet" />
</head>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Maaf, halaman tidak ditemukan (404).</p>
        </LayoutView>
    </NotFound>
</Router>