@* @using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Pertamina.SolutionTemplate.Shared.Data.Queries.GetSingleData;

@page "/Catalog/AddDraftHistoricalApplicationPhase"
@attribute [Authorize]
<style>
    .head, .item {
        display: table;
        width: 100%;
        margin: auto;
    }

    .head {
        height: 40px;
        font-size: 15px;
        font-weight: 600;
    }

    .name, .city {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }

    .head .name {
        text-indent: 16px;
    }

    .head .city {
        text-indent: 10px;
    }
</style>
<style>
    .e-highlight {
        background-color: yellow;
    }
</style>
<BrowserTabTitle>
    @CommonDisplayTextFor.Add Historical Application Phase
</BrowserTabTitle>
<MudBreadcrumbs Items="_breadcrumbItems" />
<PageHeader Title="@($"{CommonDisplayTextFor.Add} Historical Application Phase")" />
<ErrorViewer Error="_error" />
<LoadingLinear IsVisible="_isLoading" />

<AuthorizeView Context="authorizeContext">
    <Authorized>
        
        @if (@authorizeContext.User.GetCompanyCode() == "2186")
        {
            @if (!@_isLoading)
            {
                <EditForm Model="_request"
                          OnInvalidSubmit="OnInvalidSubmit"
                          Context="EditContext">
                    <FluentValidationValidator />
                    <SfCard>
                        <CardContent>
                            <MudFocusTrap>
                                <MudGrid>
                                    <MudItem xs="12">
                                        <SfAutoComplete @ref="_sfapplicationame" Enabled=@Enabled_sfdropdownname FloatLabelType="FloatLabelType.Auto" TValue="string" TItem="GetSingleData" Placeholder="Code App" @bind-Value="@_request.Code_Apps" PopupHeight="200px" CssClass="e-multi-column" DataSource="@_dataCount" AllowFiltering="true" Highlight="@Highlight" ShowPopupButton="true">
                                            <AutoCompleteFieldSettings Value="Code_Apps"></AutoCompleteFieldSettings>
                                            <AutoCompleteEvents TValue="string" TItem="GetSingleData" Filtering="OnFilter" ValueChange="@ValueChangeHandler" Focus="OnFocus"></AutoCompleteEvents>
                                            <AutoCompleteTemplates TItem="GetSingleData">
                                                <HeaderTemplate>
                                                    <table>
                                                        <tr>
                                                            <th>Code</th>
                                                            <th>Name</th>
                                                            <th>Detail</th>
                                                        </tr>
                                                    </table>
                                                </HeaderTemplate>
                                                <ItemTemplate Context="DialogContext">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    @((MarkupString)_sfapplicationame.HighLightSearch(DialogContext.Code_Apps, true, Syncfusion.Blazor.DropDowns.FilterType.Contains))
                                                                </td>
                                                                <td>
                                                                    @((MarkupString)_sfapplicationame.HighLightSearch(DialogContext.Application_Name, true, Syncfusion.Blazor.DropDowns.FilterType.Contains))
                                                                </td>
                                                                <td>
                                                                    @((MarkupString)_sfapplicationame.HighLightSearch(DialogContext.Description, true, Syncfusion.Blazor.DropDowns.FilterType.Contains))
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </ItemTemplate>
                                            </AutoCompleteTemplates>
                                        </SfAutoComplete>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <SfDropDownList @ref="_sfdropdownphase" Enabled="@Enabled_sfdropdownphase" FloatLabelType='@FloatLabelType.Auto' TValue="string" TItem="Phases" ShowClearButton=true Placeholder="Application Phase *Required" @bind-Value="@_request.Phase" DataSource="@_dataPhase" PopupHeight="300px" Width="100%">
                                            <DropDownListTemplates TItem="Phases" Context="DialogContext">
                                                <ItemTemplate>
                                                    <span class='item'><span class='name'>@((DialogContext as Phases).ID)</span><span class='city'>@((DialogContext as Phases).Text)</span></span>
                                                </ItemTemplate>
                                                <HeaderTemplate>
                                                    <span class='head'><span class='name'>Code</span><span class='city'>Text</span></span>
                                                </HeaderTemplate>
                                                <ValueTemplate>
                                                    <div class="dropdown-width" style="width:100%;height:100%;">
                                                        <div class="name"> @((DialogContext as Phases).Text) </div>
                                                    </div>
                                                </ValueTemplate>
                                                <NoRecordsTemplate>
                                                    <span class='norecord'> NO DATA AVAILABLE</span>
                                                </NoRecordsTemplate>
                                            </DropDownListTemplates>
                                            <DropDownListFieldSettings Value="Text"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <SfDatePicker TValue="DateTime" @bind-Value="_request.Date" Placeholder='Choose a Start Date *Required' FloatLabelType='@FloatLabelType.Auto' @ref="@_dateStart">
                                            <DatePickerEvents TValue="DateTime" Focus="FocusHandlerStart"></DatePickerEvents>

                                        </SfDatePicker>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField Label="Informasi"
                                                      @bind-Value="_request.Keterangan" />
                                    </MudItem>
                                </MudGrid>
                            </MudFocusTrap>
                            <SfDialog Target="#target" Width="700px" IsModal="true" ShowCloseIcon="true" @bind-Visible="Visibility">
                                <DialogTemplates>
                                    <Header>@_strHeadDialog</Header>
                                    <Content>
                                        <p>
                                            @((MarkupString)@_strContentDialog)
                                        </p>
                                    </Content>
                                </DialogTemplates>
                                <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose"></DialogEvents>
                                <DialogButtons>
                               
                                </DialogButtons>
                            </SfDialog>

                        </CardContent>
                        <CardFooter>
                            <CardFooterContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Default"
                                           Href="@RouteFor.Request"
                                           Class="mr-2">
                                    @CommonDisplayTextFor.Cancel
                                </MudButton>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary" OnClick="@(() => OnValidSubmit(EditContext))"
                                           ButtonType="MudBlazor.ButtonType.Submit">
                                    Add and Waiting for Approval
                                </MudButton>
                            </CardFooterContent>
                        </CardFooter>
                    </SfCard>

                </EditForm>

            }
        }
        else
        {
            <div class="d-flex justify-space-around mt-16">
                <div>
                    <MudText Typo="Typo.h2">Kode Perusahaan tidak terdaftar</MudText>
                    <MudText Typo="Typo.body1">Aplikasi ini hanya bisa di akses untuk user dari KPI (Kilang Pertamina Indonesia)</MudText>
                </div>
                <div>
                    <img src="img/unauthorized.png" alt="Unauthorized" width="300" />
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>
 *@
