@page "/Catalog/Tabular"

@using Pertamina.SolutionTemplate.Bsui.Services.AppInfo
@attribute [Authorize]
@using Pertamina.SolutionTemplate.Shared.Data.Queries.GetSingleData;
@using Syncfusion.Blazor.Grids
@inject IOptions<AppInfoOptions> _appInfoOptions
<style>
    .e-grid .e-headercell {
        background-color: #1E88E5;
        color: white;
    }

    .e-headercell {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .e-grid .e-icon-filter.e-filtered::before {
        background-color: white;
        font-weight: bold;
    }

    /*     filter not applied */
    .e-grid .e-icon-filter::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('img/no.png'); /* Path to your image */
        background-size: cover;
    }

    /*  filter applied */
    .e-grid .e-icon-filter.e-filtered::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('img/yes.png'); /* Path to your image */
        background-size: cover;
    }

      
    .status-nonaktif {
        background-color: #CD5C5C;
        font-weight: bold;
    }

    .status-aktif {
        background-color: #66BB6A;
        font-weight: bold;
    }

    .e-rowcell .e-templatecell .div .a:link {
        color: black;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }

    .itemlink-div a:link, .itemlink-div a:visited {
        color: black;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }

    .itemlink-div a:hover, .itemlink-div a:active {
        background-color: lightgoldenrodyellow;
    }

    
</style>
<BrowserTabTitle>By List of Applications</BrowserTabTitle>
<MudBreadcrumbs Items="_breadcrumbItems"></MudBreadcrumbs>
<ErrorViewer Error="_error" />
<LoadingLinear IsVisible="_isLoading" />

<AuthorizeView Context="authorizeContext">
    <Authorized>
       
        @if (@authorizeContext.User.GetCompanyCode() == "2186")
        {
            @if (!@_isLoading)
            {
                @if (_dataCount is not null)
                {
                    <MudContainer MaxWidth="MaxWidth.False">
                        <MudGrid>
                            @if (authorizeContext.User.HasPermission(Permissions.KpiEnterprise_Catalog_View))
                            {
                                <MudItem md="12"
                                         sm="12"
                                         xs="12">
                                    <MudCard Outlined="true" Square="true" Class="border-solid border-2">
                                        <MudCardHeader Style="background-color: #1E88E5; color: var(--mud-palette-primary-text);">
                                            <CardHeaderContent>
                                                <MudText Typo="Typo.body1" Align="Align.Center">
                                                    Total Applications of the entire area
                                                    @_totalapps
                                                </MudText>
                                            </CardHeaderContent>
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <MudGrid>
                                                <MudItem xs="4">
                                                    <MudPaper Class="pa-4"
                                                              Elevation="2"
                                                              Style="height: 100px;background-color:blue;color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">KPI KANTOR PUSAT</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappskpipusat
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudPaper Class="pa-4"
                                                              Elevation="2"
                                                              Style="height: 100px;background-color:red;color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">KPI REFINERY UNIT</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappskpiru
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>

                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudPaper Class="pa-4"
                                                              Elevation="2"
                                                              Style="height: 100px; background-color:green; color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">HOLDING</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappsholding
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>

                                                </MudItem>

                                            </MudGrid>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <MudSpacer></MudSpacer>

                                <MudItem md="12"
                                         sm="12"
                                         xs="12">
                                    <MudCard Outlined="true" Square="true" Class="border-solid border-2">
                                        <MudCardHeader Style="background-color: #1E88E5; color: var(--mud-palette-primary-text);">
                                            <CardHeaderContent>
                                                <MudText Typo="Typo.body1" Align="Align.Center">
                                                    Additional Informations
                                                </MudText>
                                            </CardHeaderContent>
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <MudGrid>
                                                <MudItem xs="3">
                                                    <MudPaper Class="pa-3"
                                                              Elevation="2"
                                                              Style="height: 100px;background-color:gray;color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">Empty Business Process</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappsbispro
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>

                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudPaper Class="pa-3"
                                                              Elevation="2"
                                                              Style="height: 100px;background-color:gray;color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">Empty Capability Level 1</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappscapability
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudPaper Class="pa-3"
                                                              Elevation="2"
                                                              Style="height: 100px;background-color:gray;color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">Empty Application Status</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappsstatus
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>
                                                </MudItem>

                                                <MudItem xs="2">
                                                    <MudPaper Class="pa-2"
                                                              Elevation="2"
                                                              Style="height: 100px; background-color:gray; color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">Empty URL</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappsurl
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudPaper Class="pa-3"
                                                              Elevation="2"
                                                              Style="height: 100px; background-color:gray; color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">Empty Go Live Date</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalgolive
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>
                                                </MudItem>
                                                <MudItem xs="2">
                                                    <MudPaper Class="pa-2"
                                                              Elevation="2"
                                                              Style="height: 100px; background-color:gray; color:white;">
                                                        <div class="align-center d-flex"
                                                             style="height: 100%">
                                                            <div class="d-flex flex-column">
                                                                <MudText Class="light-bold mb-5">Empty Area</MudText>
                                                                <MudText Class="mb-4 strong-bold"
                                                                         Typo="Typo.h4">
                                                                    @_totalappsareakosong
                                                                </MudText>
                                                            </div>
                                                        </div>
                                                    </MudPaper>
                                                </MudItem>
                                            </MudGrid>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                                <MudSpacer></MudSpacer>
                            }
                            <MudItem md="12"
                                     sm="12"
                                     xs="12">
                                <MudCard Outlined="true" Square="true" Class="border-solid border-2">
                                    <MudCardHeader Style="background-color: #1E88E5; color: var(--mud-palette-primary-text);">
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1" Align="Align.Center">
                                                List of Applications
                                            </MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudGrid>
                                            <MudItem xs="12">
                                                <div class="col-lg-12 control-section">
                                                    <div class="content-wrapper">
                                                        <div class="row">
                                                            <SfGrid ID="Grid" @ref="_blazorDataGrid" DataSource="@_dataCount" Toolbar="@(new List<string>() { "Search","ExcelExport" })" AllowExcelExport="true" AllowFiltering="true" AllowPaging="true" AllowTextWrap="true">
                                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                                                                <GridEvents TValue="GetSingleData" OnToolbarClick="ToolbarClickHandler" RowDataBound="RowBound"></GridEvents>
                                                                <GridPageSettings PageSize=10></GridPageSettings>
                                                                <GridColumns>
                                                                    <GridColumn Field="@nameof(GetSingleData.Code_Apps)" AllowSearching="true" AllowFiltering="false" HeaderText="Application Code" Width="120"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Application_Area)" AllowSearching="false" HeaderText="Application Area" Width="150"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Application_Name)" AllowSearching="true" AllowFiltering="false" HeaderText="Application Name" Width="150"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Description)" AllowSearching="true" AllowFiltering="false" HeaderText="Description" Width="375"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Capability_Level_1)" AllowSearching="true" AllowFiltering="false" HeaderText="Level 1" Width="150"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Capability_Level_2)" AllowSearching="true" AllowFiltering="false" HeaderText="Level 2" Width="150"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Utilization)" AllowSearching="false" HeaderText="Utilization" Width="140"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Application_Status)" AllowSearching="false" HeaderText="Application Status" Width="140"></GridColumn>
                                                                    @if (authorizeContext.User.HasPermission(Permissions.KpiEnterprise_Catalog_View))
                                                                    {
                                                                        <GridColumn Field="@nameof(GetSingleData.Business_Owner_PIC)" AllowSearching="true" AllowFiltering="false" HeaderText="Business Owner PIC" Width="150"></GridColumn>
                                                                        <GridColumn Field="@nameof(GetSingleData.Business_Owner_Email)" AllowSearching="true" AllowFiltering="false" HeaderText="Business Owner Email" Width="180"></GridColumn>
                                                                        <GridColumn Field="@nameof(GetSingleData.Developer)" AllowSearching="true" AllowFiltering="false" HeaderText="Developer" Width="150"></GridColumn>
                                                                    }
                                                                    <GridColumn AllowSearching="true" AllowFiltering="false" HeaderText="Link Application" Width="250">
                                                                        <Template>
                                                                            @{
                                                                                var Employee = (context as GetSingleData);
                                                                                if (Employee != null)
                                                                                {
                                                                                    @if (!String.IsNullOrEmpty(Employee.Link_Application))
                                                                                    {
                                                                                        @if (Employee.Link_Application.ToLower().Contains("atau"))
                                                                                        {
                                                                                            <div class="itemlink-div">
                                                                                                <a href="#" target="_blank">@Employee.Link_Application</a>
                                                                                            </div>
                                                                                        }
                                                                                        else @if (Employee.Link_Application.ToLower().Contains(","))
                                                                                        {
                                                                                            <div class="itemlink-div">
                                                                                                <a href="#" target="_blank">@Employee.Link_Application</a>
                                                                                            </div>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div class="itemlink-div">
                                                                                                <a href="@Employee.Link_Application" target="_blank">@Employee.Link_Application</a>
                                                                                            </div>
                                                                                        }

                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div class="itemlink-div">
                                                                                            <a href="#" target="_blank">@Employee.Link_Application</a>
                                                                                        </div>
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="itemlink-div">
                                                                                        <a href="#" target="_blank">@Employee.Link_Application</a>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        </Template>
                                                                    </GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Start_Implementation)" AllowSearching="true" AllowFiltering="false" HeaderText="Start Implementation" Width="140"></GridColumn>
                                                                    <GridColumn Field="@nameof(GetSingleData.Criticality)" AllowSearching="false" HeaderText="Criticality" Width="140"></GridColumn>
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </div>
                                                    </div>
                                                </div>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        </MudGrid>
                    </MudContainer>
                }
            }
        }
        else
        {
            <div class="d-flex justify-space-around mt-16">
                <div>
                    <MudText Typo="Typo.h2">Kode Perusahaan tidak terdaftar</MudText>
                    <MudText Typo="Typo.body1">Aplikasi ini hanya bisa di akses untuk user dari KPI (Kilang Pertamina Indonesia)</MudText>
                </div>
                <div>
                    <img src="img/unauthorized.png" alt="Unauthorized" width="300" />
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>
