@page "/Catalog/ViewDraftCatalog/{id}"
@attribute [Authorize]
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Pertamina.SolutionTemplate.Shared.Data.Queries.GetSingleData;
@using Syncfusion.Blazor.Popups
<style>
    .head, .item {
        display: table;
        width: 100%;
        margin: auto;
    }

    .head {
        height: 40px;
        font-size: 15px;
        font-weight: 600;
    }

    .name, .city {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }

    .head .name {
        text-indent: 16px;
    }

    .head .city {
        text-indent: 10px;
    }
</style>
<BrowserTabTitle>
    View Draft App
</BrowserTabTitle>
<PageHeader Title="View Draft App" />
<MudBreadcrumbs Items="_breadcrumbItems" />
<ErrorViewer Error="_error" />
<LoadingLinear IsVisible="_isLoading" />
<AuthorizeView Context="authorizeContext">
    <Authorized>
        
        @if (@authorizeContext.User.GetCompanyCode() == "2186")
        {
            @if (!@_isLoading)
            {
                <EditForm Model="_request"
                          OnInvalidSubmit="OnInvalidSubmit"
                          >
                    <FluentValidationValidator />
                      <SfCard>
                        <CardContent>
                            <MudFocusTrap>
                                @if (_request.Tipe_Request == "Create"){
                                    <BrowserTabTitle>
                                        View New Draft App
                                    </BrowserTabTitle>
                                    <PageHeader Title="View New Draft App" />
                                    <MudGrid>
                                        <MudItem xs="6">
                                            <MudTextField Label="Draft Code"
                                                          Required="true" ReadOnly="true"
                                                          @bind-Value="_request.Code_Apps" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField Label="Application Name"
                                                          Required="true" ReadOnly="true"
                                                          @bind-Value="_request.Application_Name" />
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField Label="Description"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Description" />
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField Label="Application Area"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Application_Area" />
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField Label="Application Type"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Application_Type" />
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField Label="Application Status"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Application_Status" />
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField Label="Application User Management"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.User_Management_Integration" />
                                        </MudItem>
                                        
                                        <MudItem xs="2">
                                            <MudTextField Label="Business Owner Name"
                                                          Required="true"
                                                          @bind-Value="_request.Business_Owner_Nama" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField Label="Business Owner Email"
                                                          Required="true"
                                                          @bind-Value="_request.Business_Owner_Email" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField Label="Business Owner KBO"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Business_Owner_KBO" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField Label="Business Owner Jabatan"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Business_Owner_Jabatan" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField Label="Business Owner PIC"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Business_Owner_PIC" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField Label="Business Owner PIC Email"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Business_Owner_PIC_Email" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField Label="Developer"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Developer" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField Label="Business Analyst"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Business_Analyst" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField Label="Start Development"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Start_Development" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField Label="Start Implementation"
                                                          Required="true"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Start_Implementation" />
                                        </MudItem>
                                    @if (_request.IsApproved != "Waiting For Approval")
                                    {
                                        <MudItem xs="12">
                                            <MudTextField Label="Reason"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Reason" />
                                        </MudItem>
                                    }
                                    else{
                                            @if (authorizeContext.User.HasPermission(Permissions.KpiEnterprise_Catalog_Approval))
                                            {
                                                <MudItem xs="12">
                                                    <MudTextField Label="Reason"
                                                                  Required="true"
                                                                  @bind-Value="_request.Reason" />
                                                </MudItem>
                                            }
                                            else
                                            {
                                                <MudItem xs="12">
                                                    <MudTextField Label="Reason"
                                                                  ReadOnly="true"
                                                                  @bind-Value="_request.Reason" />
                                                </MudItem>
                                            }
                                    }
                                        <MudItem xs="12">
                                            <MudTextField Label="Requested By"
                                                          ReadOnly="true"
                                                          @bind-Value="_request.Created_By" />
                                        </MudItem>
                                    </MudGrid>

                                }
                                else{
                                    <BrowserTabTitle>
                                        View Edited Draft App
                                    </BrowserTabTitle>
                                    <PageHeader Title="View Edited Draft App" />
                                    <MudGrid>
                                        <MudItem xs="6">
                                            <MudTextField Label="Draft Code"
                                                          Required="true" ReadOnly="true" 
                                                          @bind-Value="_request.Code_Apps" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField Label="Application Code"
                                                          Required="true" ReadOnly="true"
                                                          @bind-Value="_request.Code_Apps_Update" />
                                        </MudItem>
                                        <MudItem md="12"
                                                 sm="12"
                                                 xs="12">
                                            <MudCard Outlined="true" Square="true" Class="border-solid border-2">
                                                <MudCardHeader Style="background-color: #1E88E5; color: var(--mud-palette-primary-text);">
                                                    <CardHeaderContent>
                                                        <MudText Typo="Typo.body1" Align="Align.Center">
                                                            Comparison of changed Values
                                                        </MudText>
                                                    </CardHeaderContent>
                                                </MudCardHeader>
                                                <MudCardContent>
                                                    <MudGrid>
                                                        <MudItem xs="12">
                                                            <SfGrid ID="Grid" DataSource="@_listDiff" AllowPaging="true" AllowTextWrap="true">
                                                                <GridPageSettings PageSize="5"></GridPageSettings>
                                                                <GridEvents TValue="ListByDiff"></GridEvents>
                                                                <GridColumns>
                                                                    <GridColumn Field=@nameof(ListByDiff.Field) HeaderText="Field" TextAlign="TextAlign.Right" Width="100"></GridColumn>
                                                                    <GridColumn Field=@nameof(ListByDiff.OldValue) HeaderText="Old Value" Width="150"></GridColumn>
                                                                    <GridColumn Field=@nameof(ListByDiff.NewValue) HeaderText="New Value" Width="100"></GridColumn>
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </MudItem>
                                                         </MudGrid>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudItem>

                                        @if (_request.IsApproved != "Waiting For Approval")
                                        {
                                            <MudItem xs="12">
                                                <MudTextField Label="Reason"
                                                              ReadOnly="true"
                                                              @bind-Value="_request.Reason" />
                                            </MudItem>
                                        }
                                        else
                                        {
                                            @if (authorizeContext.User.HasPermission(Permissions.KpiEnterprise_Catalog_Approval))
                                            {
                                                <MudItem xs="12">
                                                    <MudTextField Label="Reason"
                                                                  Required="true"
                                                                  @bind-Value="_request.Reason" />
                                                </MudItem>
                                            }
                                            else
                                            {
                                                <MudItem xs="12">
                                                    <MudTextField Label="Reason"
                                                                  ReadOnly="true"
                                                                  @bind-Value="_request.Reason" />
                                                </MudItem>
                                            }
                                        }
                                    </MudGrid>

                                }
                            </MudFocusTrap>

                            <SfDialog Target="#target" Width="700px" IsModal="true" ShowCloseIcon="true" @bind-Visible="Visibility">
                                <DialogTemplates>
                                    <Header>@_strHeadDialog</Header>
                                    <Content>
                                        <p>
                                            @((MarkupString)@_strContentDialog)
                                        </p>
                                    </Content>
                                </DialogTemplates>
                                <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose"></DialogEvents>
                                <DialogButtons>
                                 
                                </DialogButtons>
                            </SfDialog>

                        </CardContent>
                        <CardFooter>
                            <CardFooterContent>
                                <MudButton Variant="Variant.Filled"
                                   Color="Color.Success"
                                   Href="@RouteFor.Request"
                                   Class="mr-2">
                            Back To Request & Approval Page
                        </MudButton>
                                @if (authorizeContext.User.HasPermission(Permissions.KpiEnterprise_Catalog_Approval))
                                {
                                    @if (_request.IsApproved == "Waiting For Approval")
                                    {
                                        <MudButton Variant="Variant.Filled"
                                                   Color="Color.Primary"
                                                   OnClick="@(() => OnClickBtnApproved(context))"
                                                   ButtonType="MudBlazor.ButtonType.Submit">
                                            @CommonDisplayTextFor.Approved
                                        </MudButton>
                                        <MudButton Variant="Variant.Filled"
                                                   Color="Color.Error"
                                                   OnClick="@(() => OnClickBtnReject(context))"
                                                   ButtonType="MudBlazor.ButtonType.Submit">
                                            Reject
                                        </MudButton>
                                    }
                                }
                          </CardFooterContent>
                        </CardFooter>
                    </SfCard>
                </EditForm>
            }
        }
        else
        {
            <div class="d-flex justify-space-around mt-16">
                <div>
                    <MudText Typo="Typo.h2">Kode Perusahaan tidak terdaftar</MudText>
                    <MudText Typo="Typo.body1">Aplikasi ini hanya bisa di akses untuk user dari KPI (Kilang Pertamina Indonesia)</MudText>
                </div>
                <div>
                    <img src="img/unauthorized.png" alt="Unauthorized" width="300" />
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>
